#toolbarContainer button, #summaryToolbarContainer button {
    padding: 3px 10px;
    margin: 0 5px;
    line-height: 18px;
}

.ql-editor .fact-list li::before {
    content: url('/storage/icons/circle-regular.svg');
    width: 8px;
    height: 8px;
}

.ql-editor .abstraction-list li::before {
    content: url('/storage/icons/circle-solid.svg');
    width: 8px;
    height: 8px;
}

.ql-editor .action-list li::before {
    content: url('/storage/icons/star-solid.svg');
    width: 8px;
    height: 8px;
}

.content ul.fact-list, .summary ul.fact-list {
    list-style: url('/storage/icons/circle-regular.svg');
    padding-left: 20px;
}

.content ul.abstraction-list, .summary ul.abstraction-list {
    list-style: url('/storage/icons/circle-solid.svg');
    padding-left: 20px;
}

.content ul.action-list, .summary ul.action-list {
    list-style: url('/storage/icons/star-solid.svg');
    padding-left: 20px;
}

#preview {
    width: 300px;
    height: 200px;
}

.img-container {
    width: 300px;
    height: 200px;
}

.img-container img {
    width: 100%;
    height: 100%;
}